{{> navigation currentView="admissionPrices" }}

<main>
	<section>
		<h1>Admission Prices</h1>

		{{#ifCond success "===" "added"}}
			{{> notification centered="true" type="success" message="Admission price successfully added!"}}
		{{/ifCond}}

		{{#ifCond success "===" "edited"}}
			{{> notification centered="true" type="success" message="Admission price successfully edited."}}
		{{/ifCond}}

		{{#ifCond success "===" "deleted"}}
			{{> notification centered="true" type="success" message="Admission price successfully deleted."}}
		{{/ifCond}}


		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Year</th>
					<th>Base Price</th>
					<th class="col-table-button"></th>
					<th class="col-table-button"></th>
				</tr>
			</thead>
			<tbody>
				{{#each admissionPrices}}
				<tr>
					<td>{{this.priceID}}</td>
					<td>{{this.year}}</td>
					<td>${{this.basePrice}}</td>
					<td>
						<button class="table-button edit"
						data-priceid="{{this.priceID}}"
						data-year="{{this.year}}"
						data-baseprice="{{this.basePrice}}" type="button">
							<i class="fa fa-pen-to-square"></i>
						</button>
					</td>
					<td>
						{{#ifCond this.hasChildRows "==" "0"}}
							<form method="DELETE" action="/customers/delete/{{this.customerID}}" class="form-delete">
								<input type="submit" class="table-button delete" value=""/>
								<span class="icon-delete"><i class="fa fa-trash-can"></i></span>
							</form>
						{{else}}
							<p class="text-cannot-delete">Cannot delete.<br/>Used in a Ticket.</p>
						{{/ifCond}}
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="buttonPriceAdd" type="button">Add New <i class="fa fa-plus"></i></button>
	</section>
	<section id="sectionPriceAdd" class="{{#ifCond error.section "!==" "add"}}display-none{{/ifCond}}">
		<h1>Add Admission Price</h1>
		<form method="POST" action="/" id="formAdmissionPriceAdd">
			<div class="form-field">
				<label class="form-label" class="form-label">Year</label>
				<input type="text" name="year" />
			</div>
			<div class="form-field">
				<label class="form-label" class="form-label">Base Price</label>
				<input type="text" name="basePrice" />
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "add"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Add Admission Price" />
			</div>
		</form>
	</section>
	<section id="sectionPriceEdit" class="{{#ifCond error.section "!==" "edit"}}display-none{{/ifCond}}">
		<h1>Edit Admission Price</h1>
		<h2 class="form-subtitle">
			Change base price for the year <span id="admissionPriceYear">{{priceBeingEdited.year}}</span>
		</h2>
		<form method="POST" id="formAdmissionPriceEdit">
			<input type="text" name="priceID" value="{{priceBeingEdited.priceID}}" hidden/>
			<div class="form-field">
				<label class="form-label" class="form-label">Base Price</label>
				<input type="text" name="basePrice" value="{{priceBeingEdited.basePrice}}"/>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "edit"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Edit" />
			</div>
		</form>
	</section>
</main>

<script type="text/javascript" src="../js/admissionPrices.js"></script>