{{> navigation admissionPrices="true" }}

<main>
	<section>
		<h1>Admission Prices</h1>

		{{#if admissionPriceAdded}}
			{{> notification centered="true" type="success" message="Admission Price successfully added!"}}
		{{/if}}

		{{#if admissionPriceDeleted}}
			{{> notification centered="true" type="success" message="Admission Price successfully deleted."}}
		{{/if}}

		<table>
			<thead>
				<tr>
					<th>priceID</th>
					<th>year</th>
					<th>basePrice</th>
					<th class="col-table-button"></th>
					<th class="col-table-button"></th>
				</tr>
			</thead>
			<tbody>
				{{#each admissionPrices}}
				<tr>
					<td>{{this.priceID}}</td>
					<td>{{this.year}}</td>
					<td>${{this.basePrice}}</td>
					<td>
						<button class="table-button edit"
						data-priceid="{{this.priceID}}"
						data-year="{{this.year}}"
						data-baseprice="{{this.basePrice}}" type="button">
							<i class="fa fa-pen-to-square"></i>
						</button>
					</td>
					<td>
						<button class="table-button delete" type="button"><i class="fa fa-trash-can"></i></button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="buttonPriceAdd" type="button">Add New <i class="fa fa-plus"></i></button>
	</section>
	<section id="sectionPriceAdd" class="display-none">
		<h1>Add Admission Price</h1>
		<form method="POST" action="/" id="formAdmissionPriceAdd">
			<div class="form-field">
				<label class="form-label" class="form-label">Year</label>
				<input type="text" name="year" />
			</div>
			<div class="form-field">
				<label class="form-label" class="form-label">Base Price</label>
				<input type="text" name="basePrice" />
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "add"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Add Admission Price" />
			</div>
		</form>
	</section>
	<section id="sectionPriceEdit" class="display-none">
		<h1>Update Admission Price</h1>
		<h2 class="form-subtitle">
			Edit base price for the year <span id="admissionPriceYear"></span>
		</h2>
		<form method="POST" id="formAdmissionPriceEdit">
			<input type="text" name="priceID" hidden/>
			<div class="form-field">
				<label class="form-label" class="form-label">Base Price</label>
				<input type="text" name="basePrice" />
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "update"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Edit" />
			</div>
		</form>
	</section>
</main>

<script type="text/javascript" src="../js/admissionPrices.js"></script>