{{> navigation currentView="customers" }}

<main>
	<section>
		<h1>Customers</h1>

		{{#ifCond success "===" "added"}}
			{{> notification centered="true" type="success" message="Customer successfully added!"}}
		{{/ifCond}}

		{{#ifCond success "===" "edited"}}
			{{> notification centered="true" type="success" message="Customer successfully edited."}}
		{{/ifCond}}

		{{#ifCond success "===" "deleted"}}
			{{> notification centered="true" type="success" message="Customer successfully deleted."}}
		{{/ifCond}}

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th class="col-table-button"></th>
					<th class="col-table-button"></th>
				</tr>
			</thead>
			<tbody>
			<tbody>
				{{#each customers}}
				<tr>
					<td>{{this.customerID}}</td>
					<td>{{this.firstName}}</td>
					<td>{{this.lastName}}</td>
					<td>{{this.email}}</td>
					<td>
						<button class="table-button edit" 
						data-customerid="{{this.customerID}}" 
						data-firstname="{{this.firstName}}" 
						data-lastname="{{this.lastName}}" 
						data-email="{{this.email}}" 
						type="button">
							<i class="fa fa-pen-to-square"></i>
						</button>
					</td>
					<td>
						<form method="DELETE" action="/customers/delete/{{this.customerID}}" class="form-delete">
							<input type="submit" class="table-button delete" value=""/>
							<span class="icon-delete"><i class="fa fa-trash-can"></i></span>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="buttonCustomerAdd" type="button">Add New <i class="fa fa-plus"></i></button>
	</section>
	<section id="sectionCustomerAdd" class="{{#ifCond error.section "!==" "add"}}display-none{{/ifCond}}">
		<h1>Add Customer</h1>
		<form method="POST" action="/customers/add" id="formCustomerAdd">
			<div class="form-field">
				<label class="form-label">First Name</label>
				<input type="text" name="firstName"/>
			</div>
			<div class="form-field">
				<label class="form-label">Last Name</label>
				<input type="text" name="lastName"/>
			</div>
			<div class="form-field">
				<label class="form-label">Email</label>
				<input type="email" name="email"/>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "add"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Add Customer" />
			</div>
		</form>
	</section>
	<section id="sectionCustomerEdit" class="{{#ifCond error.section "!==" "edit"}}display-none{{/ifCond}}">
		<h1>Edit Customer</h1>
		<form method="POST" action="/customers/edit" id="formCustomerEdit">
			<input type="text" name="customerID" hidden/>
			<div class="form-field">
				<label class="form-label" class="form-label">First Name</label>
				<input type="text" name="firstName" value="{{customerBeingEdited.firstName}}"/>
			</div>
			<div class="form-field">
				<label class="form-label" class="form-label">Last Name</label>
				<input type="text" name="lastName" value="{{customerBeingEdited.lastName}}"/>
			</div>
			<div class="form-field">
				<label class="form-label">Email</label>
				<input type="email" name="email" value="{{customerBeingEdited.email}}"/>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "edit"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Edit" />
			</div>
		</form>
	</section>
</main>

<script type="text/javascript" src="../js/customers.js"></script>