{{> navigation customers="true" }}

<main>
	<section>
		<h1>Customers</h1>

		{{#if customerAdded}}
			{{> notification centered="true" type="success" message="Customer successfully added!"}}
		{{/if}}

		{{#if customerDeleted}}
			{{> notification centered="true" type="success" message="Customer successfully deleted."}}
		{{/if}}

		<table>
			<thead>
				<tr>
					<th>customerID</th>
					<th>firstName</th>
					<th>lastName</th>
					<th>email</th>
					<th class="col-table-button"></th>
					<th class="col-table-button"></th>
				</tr>
			</thead>
			<tbody>
			<tbody>
				{{#each customers}}
				<tr>
					<td>{{this.customerID}}</td>
					<td>{{this.firstName}}</td>
					<td>{{this.lastName}}</td>
					<td>{{this.email}}</td>
					<td>
						<button class="table-button edit" 
						data-customerid="{{this.customerID}}" 
						data-firstname="{{this.firstName}}" 
						data-lastname="{{this.lastName}}" 
						data-email="{{this.email}}" type="button">
							<i class="fa fa-pen-to-square"></i>
						</button>
					</td>
					<td>
						<button class="table-button delete" type="button"><i class="fa fa-trash-can"></i></button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="buttonCustomerAdd" type="button">Add New <i class="fa fa-plus"></i></button>
	</section>
	<section id="sectionCustomerAdd" class="display-none">
		<h1>Add Customer</h1>
		<form method="POST" action="/customers/add" id="formCustomerAdd">
			<div class="form-field">
				<label for="addCustomerFirstName" class="form-label">First Name</label>
				<input type="text" id="addCustomerFirstName" name="firstName"/>
			</div>
			<div class="form-field">
				<label for="addCustomerLastName" class="form-label">Last Name</label>
				<input type="text" id="addCustomerLastName" name="lastName"/>
			</div>
			<div class="form-field">
				<label for="addCustomerEmail" class="form-label">Email</label>
				<input type="email" id="addCustomerEmail" name="email"/>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "add"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Add Customer" />
			</div>
		</form>
	</section>
	<section id="sectionCustomerEdit" class="display-none">
		<h1>Edit Customer</h1>
		<form method="POST" id="formCustomerEdit">
			<input type="text" name="customerID" hidden/>
			<div class="form-field">
				<label for="" class="form-label" class="form-label">First Name</label>
				<input type="text" name="firstName" />
			</div>
			<div class="form-field">
				<label for="" class="form-label" class="form-label">Last Name</label>
				<input type="text" name="lastName" />
			</div>
			<div class="form-field">
				<label for="" class="form-label">Email</label>
				<input type="email" name="email" />
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "update"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Edit" />
			</div>
		</form>
	</section>
</main>

<script type="text/javascript" src="../js/customers.js"></script>