<section>
	<h1>Employees</h1>

	{{#if employeeDeleted}}
		{{> notification centered='true' type='success' message='Employee successfully deleted.'}}
	{{/if}}

    {{#if retrievalError}}
		{{> notification centered='true' message='Unable to retrieve employees from database.'}}
	{{/if}}

	<table>
		<thead>
			<tr>
				<th>employeeID</th>
				<th>firstName</th>
				<th>lastName</th>
				<th>email</th>
				<th>jobTitle</th>
				<th>startDate</th>
				<th>endDate</th>
				<th>salary</th>
				<th class='col-table-button'></th>
				<th class='col-table-button'></th>
			</tr>
		</thead>
		<tbody>
			{{#each rows}}
			<tr>
				<td>{{this.employeeID}}</td>
				<td>{{this.firstName}}</td>
				<td>{{this.lastName}}</td>
				<td>{{this.email}}</td>
				<td>{{this.jobTitle}}</td>
				<td>{{this.startDate}}</td>
				<td>{{this.endDate}}</td>
				<td>${{this.salary}}</td>
				<td>
					<button class='table-button'><i class='fa fa-pen-to-square'></i></button>
				</td>
				<td>
					<button class='table-button delete'><i class='fa fa-trash-can'></i></button>
				</td>
			</tr>
            {{/each}}
		</tbody>
	</table>
</section>
<section>
	<h1>Add Employee</h1>
	<form method='POST'>
		<div class='form-field'>
			<label for='' class='form-label'>First Name</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Last Name</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Email</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Job Title</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Start Date</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>End Date</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Salary</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='button-row'>
			{{#if addEmployeeSuccess}}
				{{> notification type='success' message='Employee added successfully!'}}
			{{/if}}
			{{#if addEmployeeError}}
				{{> notification message='Error! Employee was not added.'}}
			{{/if}}
			<input type='submit' value='Add Employee' />
		</div>
	</form>
</section>
<section>
	<h1>Update Employee</h1>
	<form method='POST'>
		<div class='form-field'>
			<label for='' class='form-label'>First Name</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Last Name</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Email</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Job Title</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Start Date</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>End Date</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>Salary</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='button-row'>
			{{#if updateEmployeeSuccess}}
				{{> notification type='success' message='Employee updated successfully!'}}
			{{/if}}
			{{#if updateEmployeeError}}
				{{> notification message='Error! Employee was not updated.'}}
			{{/if}}
			<input type='submit' value='Update Employee' />
		</div>
	</form>
</section>