{{> navigation currentView="reviews" }}

<main>
	<section>
		<h1>Reviews</h1>

		{{#if reviewAdded}}
			{{> notification centered="true" type="success" message="Review successfully added!"}}
		{{/if}}

		{{#if reviewDeleted}}
			{{> notification centered="true" type="success" message="Review successfully deleted."}}
		{{/if}}

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Customer</th>
					<th>Room</th>
					<th>Rating</th>
					<th class="col-long-text">Text</th>
					<th>Creation Date</th>
					<th class="col-table-button"></th>
					<th class="col-table-button"></th>
				</tr>
			</thead>
			<tbody>
				{{#each reviews}}
				<tr>
					<td>{{this.reviewID}}</td>
					<td>{{this.customerFullName}}</td>
					<td>{{this.roomName}}</td>
					<td>{{this.rating}}</td>
					<td>{{this.text}}</td>
					<td>{{this.creationDate}}</td>
					<td>
						<button class="table-button edit" 
						data-reviewid="{{this.reviewID}}" 
						data-customerid="{{this.customerID}}" 
						data-customerfullname="{{this.customerFullName}}" 
						data-roomid="{{this.roomID}}" 
						data-roomname="{{this.roomName}}" 
						data-rating="{{this.rating}}" 
						data-text="{{this.text}}" 
						data-creationdate="{{this.creationDate}}" 
						type="button">
							<i class="fa fa-pen-to-square"></i>
						</button>
					</td>
					<td>
						<button class="table-button delete" type="button"><i class="fa fa-trash-can"></i></button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="buttonReviewAdd" type="button">Add New <i class="fa fa-plus"></i></button>
	</section>
	<section id="sectionReviewAdd" class="display-none">
		<h1>Add Review</h1>
		<form method="POST" action="/reviews/add" id="formReviewAdd">
			<div class="form-field">
				<label class="form-label" class="form-label">Written by</label>
				<select name="customer">
					{{#each customers}}
					<option value="{{this.customerID}}">#{{this.customerID}}: {{this.firstName}} {{this.lastName}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-field columns">
				<div class="column-label">
					<label class="form-label">Reviewing a room?</label>
					<p class="form-field-explanation">Optional</p>
				</div>
				<div class="column-input">
					<select name="room">
						<option value="0">--</option>
						{{#each rooms}}
						<option value="{{this.roomID}}">{{this.name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-field">
				<label class="form-label">Rating</label>
				<select name="rating">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
			<div class="form-field stacked">
				<label class="form-label">Review Text</label>
				<textarea name="text" rows="5"></textarea>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "add"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Add Review" />
			</div>
		</form>
	</section>
	<section id="sectionReviewEdit" class="display-none">
		<h1>Edit Review</h1>
		<h2 class="form-subtitle">
			Review created on <span id="reviewCreationDate"></span>
		</h2>
		<form method="POST" id="formReviewEdit">
			<input type="text" name="reviewID" hidden/>
			<div class="form-field">
				<label class="form-label" class="form-label">By Customer</label>
				<select name="customer">
					{{#each customers}}
					<option value="{{this.customerID}}">#{{this.customerID}}: {{this.firstName}} {{this.lastName}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-field columns">
				<div class="column-label">
					<label class="form-label">Reviewing a room?</label>
					<p class="form-field-explanation">Optional</p>
				</div>
				<div class="column-input">
					<select name="room">
						<option value="0">--</option>
						{{#each rooms}}
						<option value="{{this.roomID}}">{{this.name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-field">
				<label class="form-label">Rating</label>
				<select name="rating">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
			<div class="form-field stacked">
				<label class="form-label">Review Text</label>
				<textarea name="text" rows="5"></textarea>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "edit"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Edit" />
			</div>
		</form>
	</section>
</main>

<script type="text/javascript" src="../js/reviews.js"></script>