{{> navigation rooms="true" }}

<main>
	<section>
		<h1>Rooms</h1>

		{{#if roomAdded}}
			{{> notification centered="true" type="success" message="Room successfully added!"}}
		{{/if}}

		{{#if roomDeleted}}
			{{> notification centered="true" type="success" message="Room successfully deleted."}}
		{{/if}}

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Theme</th>
					<th>Max Capacity</th>
					<th>Level</th>
					<th class="col-table-button"></th>
					<th class="col-table-button"></th>
				</tr>
			</thead>
			<tbody>
				{{#each rooms}}
				<tr>
					<td>{{this.roomID}}</td>
					<td>{{this.name}}</td>
					<td>{{this.theme}}</td>
					<td>{{this.maxCapacity}}</td>
					<td>{{this.level}}</td>
					<td>
						<button class="table-button edit" 
						data-roomid="{{this.roomID}}" 
						data-roomname="{{this.name}}" 
						data-theme="{{this.theme}}" 
						data-maxcapacity="{{this.maxCapacity}}" 
						data-level="{{this.level}}" 
						type="button">
							<i class="fa fa-pen-to-square"></i>
						</button>
					</td>
					<td>
						<button class="table-button delete" type="button"><i class="fa fa-trash-can"></i></button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="buttonRoomAdd" type="button">Add New <i class="fa fa-plus"></i></button>
	</section>
	<section id="sectionRoomAdd" class="display-none">
		<h1>Add Room</h1>
		<form method="POST" action="/customers/add" id="formRoomAdd">
			<div class="form-field">
				<label class="form-label">Name</label>
				<input type="text" name="roomName" />
			</div>
			<div class="form-field">
				<label class="form-label">Theme</label>
				<input type="text" name="theme" />
			</div>
			<div class="form-field">
				<label class="form-label">Max Capacity</label>
				<input type="text" name="maxCapacity" />
			</div>
			<div class="form-field">
				<label class="form-label">Level</label>
				<select name="level">
					<option value="1">1 (Ground Floor)</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
			</div>
			<div class="button-row">
				{{#if addRoomError}}
					{{> notification message="Error! Room was not added."}}
				{{/if}}
				<input type="submit" value="Add Room" />
			</div>
		</form>
	</section>
	<section id="sectionRoomEdit" class="display-none">
		<h1>Edit Room</h1>
		<form method="POST" id="formRoomEdit">
			<input type="text" name="roomID" hidden/>
			<div class="form-field">
				<label class="form-label">Name</label>
				<input type="text" name="roomName" />
			</div>
			<div class="form-field">
				<label class="form-label">Theme</label>
				<input type="text" name="theme" />
			</div>
			<div class="form-field">
				<label class="form-label">Max Capacity</label>
				<input type="text" name="maxCapacity" />
			</div>
			<div class="form-field">
				<label class="form-label">Level</label>
				<select name="level">
					<option value="1">1 (Ground Floor)</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "edit"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Edit" />
			</div>
		</form>
	</section>
</main>

<script type="text/javascript" src="../js/rooms.js"></script>