{{> navigation currentView="tickets" }}

<main>
	<section>
		<h1>Tickets</h1>

		{{#ifCond success "===" "added"}}
			{{> notification centered="true" type="success" message="Ticket successfully added!"}}
		{{/ifCond}}

		{{#ifCond success "===" "edited"}}
			{{> notification centered="true" type="success" message="Ticket successfully edited."}}
		{{/ifCond}}

		{{#ifCond success "===" "deleted"}}
			{{> notification centered="true" type="success" message="Ticket successfully deleted."}}
		{{/ifCond}}

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Customer</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Total Price</th>
					<th>Purchase Date</th>
					<th class="col-table-button"></th>
				</tr>
			</thead>
			<tbody>
				{{#each tickets}}
				<tr>
					<td>{{this.ticketID}}</td>
					<td>{{this.customerFullName}}</td>
					<td>{{this.quantity}}</td>
					<td>${{this.unitPrice}}</td>
					<td>${{this.totalPrice}}</td>
					<td>{{this.purchaseDate}}</td>
					<td>
						<button class="table-button delete" type="button"><i class="fa fa-trash-can"></i></button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="buttonTicketAdd" type="button">Add New <i class="fa fa-plus"></i></button>
	</section>
	<section id="sectionTicketAdd" class="{{#ifCond error.section "!==" "add"}}display-none{{/ifCond}}">
		<h1>Add Ticket</h1>
		<h2 class="form-subtitle">
			Current unit price for <span id="sectionTicketAddYear"></span>: <span id="sectionTicketAddPrice"></span>
		</h2>
		<form method="POST" action="/tickets/add" id="formTicketAdd">
			<div class="form-field">
				<label class="form-label">Choose customer</label>
				<select name="customer">
					{{#each customers}}
					<option value="{{this.customerID}}">#{{this.customerID}} {{this.customerFullName}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-field">
				<label class="form-label" class="form-label">Quantity</label>
				<select name="quantity">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "add"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Add Ticket" />
			</div>
		</form>
	</section>
</main>

<script type="text/javascript" src="../js/tickets.js"></script>