<section>
	<h1>Tickets</h1>

	{{#if ticketAdded}}
		{{> notification centered='true' type='success' message='Ticket added successfully!'}}
	{{/if}}

	{{#if ticketDeleted}}
		{{> notification centered='true' type='success' message='Ticket successfully deleted.'}}
	{{/if}}

    {{#if retrievalError}}
		{{> notification centered='true' message='Unable to retrieve tickets from database.'}}
	{{/if}}

	<table>
		<thead>
			<tr>
				<th>ticketID</th>
				<th>customerID</th>
				<th>priceID</th>
				<th>quantity</th>
				<th>purchaseDate</th>
				<th>entryDate</th>
				<th class='col-table-button'></th>
				<th class='col-table-button'></th>
			</tr>
		</thead>
		<tbody>
			{{#each rows}}
			<tr>
				<td>{{this.ticketID}}</td>
				<td>{{this.customerID}}</td>
				<td>{{this.priceID}}</td>
				<td>{{this.quantity}}</td>
				<td>{{this.purchaseDate}}</td>
				<td>{{this.entryDate}}</td>
				<td>
					<button class='table-button'><i class='fa fa-pen-to-square'></i></button>
				</td>
				<td>
					<button class='table-button delete'><i class='fa fa-trash-can'></i></button>
				</td>
			</tr>
            {{/each}}
		</tbody>
	</table>
</section>
<section>
	<h1>Add Ticket</h1>
	<form method='POST'>
		<!--For toggling the UI: doesn't get transmitted in form submission-->
		<div class='form-field'>
			<div class='radio-wrapper'>
				<input type='radio' id='customerChoiceNew' />
				<label for='customerChoiceNew'>New customer</label>
			</div>
			<div class='radio-wrapper'>
				<input type='radio' id='customerChoiceExisting' />
				<label for='customerChoiceExisting'>Existing customer</label>
			</div>
		</div>
		<!--Enable if 'existing customer' option is toggled...?-->
		<div class='form-field'>
			<label for='' class='form-label disabled'>Choose customer</label>
			<select disabled>
				<option>Customer name</option>
			</select>
		</div>
		<!--If 'new customer' option is toggled, show message asking user to create a customer first-->

		<div class='form-field'>
			<label for='' class='form-label' class='form-label'>Quantity</label>
			<input type='text' name='' placeholder='' />
		</div>
		<div class='button-row'>
			{{#if addTicketError}}
				{{> notification message='Error! Ticket was not added.'}}
			{{/if}}
			<input type='submit' value='Add Ticket' />
		</div>
	</form>
</section>