{{> navigation currentView="tickets" }}

<main>
	<section>
		<h1>Tickets</h1>

		{{#ifCond success "===" "added"}}
			{{> notification centered="true" type="success" message="Ticket successfully added!"}}
		{{/ifCond}}

		{{#ifCond success "===" "edited"}}
			{{> notification centered="true" type="success" message="Ticket successfully edited."}}
		{{/ifCond}}

		{{#ifCond success "===" "deleted"}}
			{{> notification centered="true" type="success" message="Ticket successfully deleted."}}
		{{/ifCond}}

		<table>
			<thead>
				<tr>
					<th>ticketID</th>
					<th>customerID</th>
					<th>priceID</th>
					<th>quantity</th>
					<th>purchaseDate</th>
					<th>entryDate</th>
					<th class="col-table-button"></th>
				</tr>
			</thead>
			<tbody>
				{{#each tickets}}
				<tr>
					<td>{{this.ticketID}}</td>
					<td>{{this.customerID}}</td>
					<td>{{this.priceID}}</td>
					<td>{{this.quantity}}</td>
					<td>{{this.purchaseDate}}</td>
					<td>{{this.entryDate}}</td>
					<td>
						<button class="table-button delete" type="button"><i class="fa fa-trash-can"></i></button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="buttonTicketAdd" type="button">Add New <i class="fa fa-plus"></i></button>
	</section>
	<section id="sectionTicketAdd" class="{{#ifCond error.section "!==" "add"}}display-none{{/ifCond}}">
		<h1>Add Ticket</h1>
		<form method="POST" action="/tickets/add" id="formTicketAdd">
			<div class="form-field">
				<label class="form-label">Choose customer</label>
				<select name="customer">
					{{#each customers}}
					<option value="{{this.customerID}}">#{{this.customerID}} {{this.customerFullName}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-field">
				<label class="form-label" class="form-label">Quantity</label>
				<select name="quantity">
					{{#each quantityOptions}}
					<option value="{{this.number}}">{{this.number}}</option>
					{{/each}}
				</select>
			</div>
			<div class="button-row">
				{{#ifCond error.section "===" "add"}}
					{{> notification message=error.message}}
				{{/ifCond}}
				<input type="submit" value="Add Ticket" />
			</div>
		</form>
	</section>
</main>

<script type="text/javascript" src="../js/tickets.js"></script>