{{> navigation currentView="itemResponsibilities" }}

<main>
	<section>
		<div class="header-row">
            <h1>
				{{#if formAdd}}Add {{/if}}
				{{#if formEdit}}Edit {{/if}}
				Item Responsibility
			</h1>
            <button onClick="goBack()" type="button">Back</button>
        </div>

		<form method="POST"
            {{#if formAdd}}action="/item-resps/add"{{/if}} 
			{{#if formEdit}}action="/item-resps/edit"{{/if}} 
			id="formItemResponsibility">

            {{#if formEdit}}
                <input type="text" name="itemID" value="{{itemFields.itemID}}" hidden/>
                <input type="text" name="employeeID" value="{{itemFields.employeeID}}" hidden/>
            {{/if}}

			<div class="form-field">
				<label class="form-label">Item</label>
                <select name="newItemID">
                    {{#each items}}
                    <option value="{{this.itemID}}">#{{this.itemID}} - {{this.itemName}}</option>
                    {{/each}}
                </select>
			</div>
			<div class="form-field">
				<label class="form-label">Employee</label>
                <select name="newEmployeeID">
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.employeeFullName}}</option>
                    {{/each}}
                </select>
			</div>
			<div class="button-row">
				{{#if errorMessage}}
					{{> notification message=errorMessage}}
				{{/if}}
				<input type="submit" value="{{#if formAdd}}Add{{/if}}{{#if formEdit}}Edit{{/if}} Relationship" />
			</div>
		</form>
	</section>

</main>

<script type="text/javascript" src="/js/ItemResponsibility.js"></script>